.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Homepage {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.top-bar {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.homepage-title {
  text-align: center;
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  color: #003c6c;
  flex: 1;
}

.Logo {
  justify-content: left;
  height: 65px;
  margin-right: 1rem;
}

.about {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #003c6c;
  border: 3px solid #003c6c;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

.about-page {
  font-size: 1.35rem;
  color: #000000;
  font-family: 'arial';
  margin: 50px 160px;
}

.logo-link, .title-link {
  text-decoration: none;
  color: inherit;  
  cursor: pointer;
}

.about-link {
  margin-right: 3rem;
  text-decoration: none;
}

.about-button {
  border: 2px solid #000000;
  padding: 8px 16px;
  border-radius: 4px; /* Rounds corners */
  transition: all 0.2s ease; 
  color: #003c6c;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  width: 100%;
  max-width: 600px;
}

.search-input {
  width: 100%;
  padding: 12px 20px;
  font-size: 1rem;
  border: 2px solid #003c6c;
  border-radius: 4px;
  outline: none;
}

.search-input:focus {
  border-color: #005a9e;
  box-shadow: 0 0 5px rgba(0, 60, 108, 0.2);
}